# BT Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y

# WT99P4C5-S1 ESP-Hosted coprocessor role
CONFIG_ESP_HOSTED_COPROCESSOR_APP_MAIN=y
CONFIG_ESP_HOSTED_CP_WIFI=y
CONFIG_ESP_HOSTED_CP_BT=y
CONFIG_ESP_HOST_DEV_BOARD_P4_C5_CORE=y
CONFIG_ESP_SDIO_HOST_INTERFACE=y

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

# OS
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_NVS_ENABLED=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y

#Disable enterprise support by default
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n

##
## Power Management
##
#CONFIG_PM_ENABLE=y
#CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
##
## BLE + Light Sleep: MANDATORY - Enable MAC BB power down
#CONFIG_ESP_PHY_MAC_BB_PD=y
## Without this: Light sleep will be disabled if BT is enabled
##
## Down digital peripherals in light sleep
#CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=y
##
#
## host power save - wake up
#CONFIG_ESP_HOSTED_HOST_POWER_SAVE_ENABLED=y
#CONFIG_ESP_HOSTED_UNLOAD_BUS_DRIVER_DURING_HOST_SLEEP=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_ENABLE=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_PERIPHERAL_POWERDOWN=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_MIN_FREQ_MHZ=10

## Examples
#CONFIG_ESP_HOSTED_EXTRA_EXAMPLES=y
#CONFIG_ESP_HOSTED_COPROCESSOR_EXAMPLE_LIGHT_SLEEP=y
